// main: ../style.scss;

/* ------------------------------------------- cmn head - */

.cmn-head {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: vw-sp(40);
}

.cmn-head-jp {
  position: relative;
  font-size: vw-sp(35);
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: .05em;
  span {
    display: inline-block;
  }
  .red {
    color: $color-red;
  }
  .og {
    color: $color-main;
  }
  .baloon {
    position: relative;
    margin-left: vw-sp(30);
    padding: .5em .5em .6em .5em;
    background-color: $color-main;
    border-radius: vw-sp(10);
    color: $color-base;
    font-size: 0.83em;
    line-height: 1em;
  }
  .baloon:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: vw-sp(6) vw-sp(12) vw-sp(6) 0;
    border-color: transparent $color-main transparent transparent;
    transform: translateY(-50%);
  }
}

.cmn-head-en {
  margin-left: .5em;
  padding-top: .15em;
  color: $color-main;
  font-family: $font2;
  font-size: vw-sp(26);
  font-weight: 900;
  text-transform: uppercase;
}

.cmn-head-num {
  position: relative;
  top: .2em;
  color: #888;
  font-size: 13px; font-size: 1.3rem;
}

.cmn-head--rank .cmn-head-jp {
  padding-left: vw-sp(50);
}

.cmn-head--rank .cmn-head-jp:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: vw-sp(30);
  height: vw-sp(46);
  background-image: url(../img/common/rank.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.cmn-head--circle,
.cmn-head--ng {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}

.cmn-head--circle .cmn-head-jp {
  padding-left: vw-sp(50);
}

.cmn-head--circle .cmn-head-jp:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: vw-sp(40);
  height: vw-sp(40);
  background-image: url(../img/common/circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.cmn-head--ng .cmn-head-jp {
  padding-left: vw-sp(50);
}

.cmn-head--ng .cmn-head-jp:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: vw-sp(36);
  height: vw-sp(36);
  background-image: url(../img/common/ng.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}


@media screen and (max-width: $breakpoint1-max) {

  .cmn-head--br {
    display: block !important;
  }

  .cmn-head--br .cmn-head-en {
    margin: .3em 0 0 0;
  }
}


@media screen and (min-width: $breakpoint1) {

  .cmn-heads {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: vw-pc(20);
  }

  .cmn-head {
    margin-bottom: vw-pc(20);
  }

  .cmn-heads .cmn-head {
    width: vw-pc(815);
  }

  .cmn-heads .cmn-select {
    width: vw-pc(130);
  }

  .cmn-head-jp {
    font-size: vw-pc(18);
    .baloon {
      margin-left: vw-pc(15);
      border-radius: vw-pc(5);
    }
    .baloon:before {
      border-width: vw-pc(5) vw-pc(10) vw-pc(5) 0;
    }
  }

  .cmn-head-en {
    font-size: vw-pc(13);
  }

  .cmn-head-num {
    font-size: vw-pc(13);
  }

  .cmn-head--rank .cmn-head-jp {
    padding-left: vw-pc(25);
  }

  .cmn-head--rank .cmn-head-jp:before {
    width: vw-pc(15);
    height: vw-pc(21);
  }

  .cmn-head--circle .cmn-head-jp {
    padding-left: vw-pc(30);
  }

  .cmn-head--circle .cmn-head-jp:before {
    width: vw-pc(20);
    height: vw-pc(20);
  }

  .cmn-head--ng .cmn-head-jp {
    padding-left: vw-pc(30);
  }

  .cmn-head--ng .cmn-head-jp:before {
    width: vw-pc(18);
    height: vw-pc(18);
  }
}

@media screen and (min-width: $breakpoint2) {

  .cmn-heads {
    margin-bottom: 20px;
  }

  .cmn-head {
    margin-bottom: 20px;
  }

  .cmn-heads .cmn-head {
    width: 815px;
  }

  .cmn-heads .cmn-select {
    width: 130px;
  }

  .cmn-head {
    margin-bottom: 20px;
  }

  .cmn-head-jp {
    font-size: 18px; font-size: 1.8rem;
    .baloon {
      margin-left: 15px;
      border-radius: 5px;
    }
    .baloon:before {
      border-width: 5px 10px 5px 0;
    }
  }

  .cmn-head-en {
    font-size: 13px; font-size: 1.3rem;
  }

  .cmn-head-num {
    font-size: 13px; font-size: 1.3rem;
  }

  .cmn-head--rank .cmn-head-jp {
    padding-left: 25px;
  }

  .cmn-head--rank .cmn-head-jp:before {
    width: 15px;
    height: 21px;
  }

  .cmn-head--circle .cmn-head-jp {
    padding-left: 30px;
  }

  .cmn-head--circle .cmn-head-jp:before {
    width: 20px;
    height: 20px;
  }

  .cmn-head--ng .cmn-head-jp {
    padding-left: 30px;
  }

  .cmn-head--ng .cmn-head-jp:before {
    width: 18px;
    height: 18px;
  }
}

/* ------------------------------------------- special head - */

.special-head {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: vw-sp(45);
  padding: 0 vw-sp(60);
  height: vw-sp(120);
  background-color: $color-main
}

.special-head-jp {
  color: $color-base;
  font-family: $font2;
  font-size: vw-sp(48);
  font-weight: 900;
  letter-spacing: .05em;
}

.special-head-en {
  margin-left: 1em;
  color: $color-base;
  font-family: $font2;
  font-size: vw-sp(26);
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (max-width: $breakpoint1-max) {

  .special-head {
    margin-left: vw-sp(-30);
    width: vw-sp(750);
  }
}

@media screen and (min-width: $breakpoint1) {

  .special-head {
    margin-bottom: vw-pc(20);
    padding: 0 vw-pc(20);
    height: vw-pc(60);
  }

  .special-head-jp {
    font-size: vw-pc(24);
  }

  .special-head-en {
    font-size: vw-pc(14);
  }
}

@media screen and (min-width: $breakpoint2) {

  .special-head {
    margin-bottom: 20px;
    padding: 0 20px;
    height: 60px;
  }

  .special-head-jp {
    font-size: 24px; font-size: 2.4rem;
  }

  .special-head-en {
    font-size: 14px; font-size: 1.4rem;
  }
}


/* ------------------------------------------- hot head - */

.hot-head {
  margin-bottom: vw-sp(60);
}

.hot-head-jp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: vw-sp(80);
  background-color: $color-main;
  color: $color-base;
  font-family: $font2;
  font-size: vw-sp(48);
  font-weight: 800;
  span {
    display: inline-block;
    margin: 0 .3em 0 .2em;
    width: vw-sp(270);
  }
}

.hot-head-en {
  display: none;
}

@media screen and (max-width: $breakpoint1-max) {

  .hot-head {
    margin-left: vw-sp(-30);
    width: vw-sp(750);
  }
}

@media screen and (min-width: $breakpoint1) {

  .hot-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: vw-pc(30);
  }

  .hot-head-jp {
    justify-content: flex-start;
    padding: 0 vw-pc(20);
    width: vw-pc(490);
    height: vw-pc(40);
    font-size: vw-pc(24);
    span {
      width: vw-pc(135);
    }
  }

  .hot-head-jp:after {
    content: '';
    position: absolute;
    right: vw-pc(10);
    bottom: 0;
    display: inline-block;
    width: vw-pc(78);
    height: vw-pc(73);
    background-image: url(../img/common/businessman.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hot-head-en {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: vw-pc(40);
    color: $color-main;
    font-family: $font2;
    font-size: vw-pc(28);
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0;
  }
}

@media screen and (min-width: $breakpoint2) {

  .hot-head {
    margin-bottom: 30px;
  }

  .hot-head-jp {
    padding: 0 20px;
    width: 490px;
    height: 40px;
    font-size: 24px; font-size: 2.4rem;
    span {
      width: 135px;
    }
  }

  .hot-head-jp:after {
    right: 10px;
    width: 78px;
    height: 73px;
  }

  .hot-head-en {
    height: 40px;
    font-size: 28px; font-size: 2.8rem;
  }
}


/* ------------------------------------------- recom head - */

.recom-head {
  position: relative;
  margin-bottom: vw-pc(20);
  padding-left: vw-pc(45);
  font-size: vw-pc(18);
  font-weight: 700;
  line-height: 1.5em;
}

.recom-head:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: vw-pc(35);
  height: vw-pc(29);
  background-image: url(../img/common/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

@media screen and (min-width: $breakpoint2) {

  .recom-head {
    margin-bottom: 20px;
    padding-left: 45px;
    font-size: 18px; font-size: 1.8rem;
  }

  .recom-head:before {
    width: 35px;
    height: 29px;
  }
}


/* ------------------------------------------- result head - */

.result-heads {
  margin-bottom: vw-sp(60);
}

.result-head {
  display: flex;
  align-items: flex-end;
  margin-bottom: vw-sp(35);
}

.result-head-jp {
  font-size: vw-sp(48);
  font-weight: 700;
  line-height: 1.5em;
}

.result-head-num {
  margin-left: .5em;
  color: #888;
  font-size: vw-sp(26);
  line-height: 2em;
}

.result-select {
  width: 100%;
}

@media screen and (min-width: $breakpoint1) {

  .result-heads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: vw-pc(20);
  }

  .result-head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    width: vw-pc(815);
  }

  .result-head-jp {
    font-size: vw-pc(24);
  }

  .result-head-num {
    margin-left: 1em;
    font-size: vw-pc(13);
  }

  .result-select {
    width: vw-pc(130);
  }
}

@media screen and (min-width: $breakpoint2) {

  .result-heads {
    margin-bottom: 20px;
  }

  .result-head {
    width: 815px;
  }

  .result-head-jp {
    font-size: 24px; font-size: 2.4rem;
  }

  .result-head-num {
    font-size: 13px; font-size: 1.3rem;
  }

  .result-select {
    width: 130px;
  }
}
