// main: ../style.scss

/* ------------------------------------------- animation - */

.anim {
  opacity: 0;
}

.anim.is-show {
  opacity: 1;
}

.anim--left {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}

.anim--left.is-show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: transform 1s cubic-bezier(.08,.92,.35,1),opacity 1s;
}

.anim--right {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

.anim--right.is-show {
  -webkit-transform: translateX(0) ;
  transform: translateX(0) ;
  transition: transform 1s cubic-bezier(.08,.92,.35,1),opacity 1s;
}

.anim--bottom {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.anim--bottom.is-show {
  -webkit-transform: translateY(0) ;
  transform: translateY(0) ;
  transition: transform 1s cubic-bezier(.08,.92,.35,1),opacity 1s;
}
