// main: ../../style.scss

/* ------------------------------------------- change - */

.change-box {
  padding: 0 vw-sp(30) vw-sp(70) vw-sp(30);
  background-color: #f8f8f8;
  border: 1px solid $color-main;
}

.change {
  margin-bottom: vw-sp(60);
}

.change li {
  position: relative;
  padding: vw-sp(60) 0;
}

.change li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: vw-sp(6);
  background-image: url(../img/common/line.png);
  background-size: auto vw-sp(6);
  background-repeat: repeat-x;
}

.change-title {
  margin-bottom: 1.5em;
  font-size: vw-sp(32);
  font-weight: 700;
  line-height: 1.5em;
}

.change-content {
  font-size: vw-sp(30);
  line-height: 1.5em;
}

.change-sub {
  font-size: vw-sp(26);
  text-align: right;
  line-height: 1.5em;
}

.change-edit-btn {
  margin-left: auto;
  width: vw-sp(200);
}

.change-submit-btn {
  margin: 0 auto;
  width: vw-sp(510);
}

@media screen and (min-width: $breakpoint1) {

  .change-box {
    padding: 0 vw-pc(40) vw-pc(60) vw-pc(40);
    border: 1px solid #ccc;
  }

  .change {
    margin-bottom: vw-pc(40);
  }

  .change li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vw-pc(50) 0;
  }

  .change li:after {
    height: vw-pc(3);
    background-size: auto vw-pc(3);
  }

  .change-title {
    margin-bottom: 0;
    padding-right: 1em;
    width: vw-pc(230);
    font-size: vw-pc(16);
  }

  .change-content {
    padding: 0 1em;
    width: vw-pc(400);
    font-size: vw-pc(15);
  }

  .change-sub {
    padding-left: 1em;
    width: vw-pc(170);
    font-size: vw-pc(13);
  }

  .change-edit-btn {
    width: vw-pc(100);
  }

  .change-submit-btn {
    width: vw-pc(400);
  }
}

@media screen and (min-width: $breakpoint2) {

  .change-box {
    padding: 0 40px 60px 40px;
  }

  .change {
    margin-bottom: 40px;
  }

  .change li {
    padding: 50px 0;
  }

  .change li:after {
    height: 3px;
    background-size: auto 3px;
  }

  .change-title {
    width: 230px;
    font-size: 16px; font-size: 1.6rem;
  }

  .change-content {
    width: 400px;
    font-size: 15px; font-size: 1.5rem;
  }

  .change-sub {
    width: 170px;
    font-size: 13px; font-size: 1.3rem;
  }

  .change-edit-btn {
    width: 100px;
  }

  .change-submit-btn {
    width: 400px;
  }
}
