// main: ../../style.scss

/* ------------------------------------------- confirmation - */

.confirmation {
  padding: vw-sp(100) vw-sp(30);
  background-color: $color-thin;
  border: vw-sp(4) solid $color-main;
}

.confirmation-title {
  margin-bottom: vw-sp(50);
  font-size: vw-sp(32);
  font-weight: 700;
  text-align: center;
  line-height: 1.8em;
}

.confirmation-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto vw-sp(45) auto;
  width: 100%;
}

.confirmation-form dt {
  margin-bottom: 1em;
  width: 100%;
  font-size: vw-sp(32);
  font-weight: 700;
}

.confirmation-form dd {
  width: 100%;
}

.confirmation-content .form-desc {
  margin-bottom: vw-sp(30);
}

.confirmation-submit-btn {
  margin: 0 auto;
  width: vw-sp(570);
}

@media screen and (max-width: $breakpoint1-max) {

  .confirmation {
    margin-left: vw-sp(-50);
    width: vw-sp(790);
  }
}

@media screen and (min-width: $breakpoint1) {

  .confirmation {
    padding: vw-pc(55) vw-pc(20);
    border: vw-pc(3) solid $color-main;
  }

  .confirmation-content {
    margin-bottom: vw-pc(40);
  }

  .confirmation-title {
    margin-bottom: vw-pc(20);
    font-size: vw-pc(16);
  }

  .confirmation-form {
    flex-wrap: nowrap;
    margin: 0 auto vw-pc(25) auto;
    width: vw-pc(630);
  }

  .confirmation-form dt {
    margin-bottom: 0;
    width: vw-pc(110);
    font-size: vw-pc(16);
  }

  .confirmation-form dd {
    width: vw-pc(520);
  }

  .confirmation-content .form-desc {
    margin-bottom: 0;
  }

  .confirmation-submit-btn {
    width: vw-pc(300);
  }
}

@media screen and (min-width: $breakpoint2) {

  .confirmation {
    padding: 55px 20px;
    border: 2px solid $color-main;
  }

  .confirmation-content {
    margin-bottom: 40px;
  }

  .confirmation-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-size: 1.6rem;
  }

  .confirmation-form {
    margin: 0 auto 25px auto;
    width: 630px;
  }

  .confirmation-form dt {
    width: 140px;
    font-size: 16px;
    font-size: 1.6rem;
  }

  .confirmation-form dd {
    width: 480px;
  }

  .confirmation-submit-btn {
    width: 300px;
  }
}