// main: ../../style.scss

/* ------------------------------------------- help - */

.help-search {
  position: relative;
  width: vw-sp(690);
  height: vw-sp(70);
}

.help-search-input {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 1em;
  width: vw-sp(520);
  height: vw-sp(70);
  border-radius: vw-sp(10);
  background-color: $color-base;
  border: 1px solid #cccccc;
  font-size: vw-sp(26);
  line-height: 1em;
}

.help-search input::-webkit-input-placeholder {
  color: #ccc;
}

.help-search input:-ms-input-placeholder,
.help-search input::-ms-input-placeholder {
  color: #ccc;
}

.help-search input::-moz-placeholder {
  color: #ccc;
}

.help-search-btn {
  position:absolute;
  top: 0;
  left: vw-sp(540);
  width: vw-sp(150);
  height: vw-sp(70);
  border-radius: vw-sp(10);
  background-color: $color-main;
  border: 1px solid $color-main;
  color: $color-base;
  font-size: vw-sp(30);
  font-weight: 700;
  transition: .3s;
}

.help-search-btn:hover{
  background: $color-base;
  color: $color-main;
}


@media screen and (min-width: $breakpoint1) {

  .help-search {
    width: vw-pc(465);
    height: vw-pc(35);
  }

  .help-search-input {
    left: 0;
    padding: 0 1em;
    width: vw-pc(380);
    height: vw-pc(35);
    border-radius: vw-pc(5);
    font-size: vw-pc(13);
  }

  .help-search-btn {
    left: vw-pc(390);
    width: vw-pc(75);
    height: vw-pc(35);
    border-radius: vw-pc(5);
    font-size: vw-pc(15);
  }
}

@media screen and (min-width: $breakpoint2) {

  .help-search {
    width: 465px;
    height: 35px;
  }

  .help-search-input {
    width: 380px;
    height: 35px;
    border-radius: 5px;
    font-size: 13px;
  }

  .help-search-btn {
    left: 390px;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px; font-size: 1.5rem;
  }
}


/* ------------------------------------------- help cat- */


.help-cat li:nth-child(n + 2) {
  margin-top: vw-sp(20);
}

.help-cat li a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 vw-sp(80) 0 vw-sp(40);
  height: vw-sp(80);
  background-color: $color-base;
  font-size: vw-sp(26);
  font-weight: 500;
  transition: .3s;
}

.help-cat li a:hover {
    background-color: #fffbf7;
  }

.help-cat li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  display: inline-block;
  width: vw-sp(12);
  height: vw-sp(18);
  background-image: url(../img/common/arrow-og.png);
background-size: contain;
transform: translateY(-50%);
}

@media screen and (min-width: $breakpoint1) {

  .help-cat li:nth-child(n + 2) {
    margin-top: vw-pc(10);
  }

  .help-cat li a {
    padding: 0 vw-pc(40) 0 vw-pc(20);
    height: vw-pc(40);
    font-size: vw-pc(13);
  }

  .help-cat li a:after {
    right: vw-pc(20);
    width: vw-pc(6);
    height: vw-pc(9);
  }
}

@media screen and (min-width: $breakpoint2) {

  .help-cat li:nth-child(n + 2) {
    margin-top: 10px;
  }

  .help-cat li a {
    padding: 0 40px 0 20px;
    height: 40px;
    font-size: 13px; font-size: 1.3rem;
  }

  .help-cat li a:after {
    right: 20px;
    width: 6px;
    height: 9px;
  }
}


/* ------------------------------------------- help- */

.helpAnswer {
  margin-bottom: vw-sp(60);
  padding: vw-sp(20) vw-sp(30);
  background-color: $color-base;
}

.helpAnswer > li {
  position: relative;
}

.helpAnswer > li:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: vw-sp(6);
  background-image: url(../img/common/line.png);
  background-size: auto vw-sp(6);
  background-repeat: repeat-x;
}

.helpAnswer > li:last-child:before {
  content: none;
}

.helpAnswer > li p {
  padding: vw-sp(60) 0 vw-sp(60) vw-sp(80);
  width: 100%;
  font-size: vw-sp(32);
  font-weight: 700;
  line-height: 1.5em;
}
.helpAnswer > li p a{
  color: $color-main;
  text-decoration: underline;
}

.helpAnswer > li.question p:before {
  content: 'Q.';
  position: absolute;
  top: vw-sp(58);
  left: 0;
  color: $color-main;
  font-family: $font2;
  font-size: vw-sp(48);
  font-weight: 800;
}
.helpAnswer > li.answer p:before {
  content: 'A.';
  position: absolute;
  top: vw-sp(58);
  left: 0;
  color: $color-green;
  font-family: $font2;
  font-size: vw-sp(48);
  font-weight: 800;
}

.helpAnswer-btn {
  margin: 0 auto;
  width: vw-sp(550);
}

@media screen and (min-width: $breakpoint1) {

  .helpAnswer {
    margin-bottom: vw-pc(30);
    padding: vw-pc(10) vw-pc(40);
  }

  .helpAnswer > li:before {
    height: vw-pc(3);
    background-size: auto vw-pc(3);
  }

  .helpAnswer > li.question p,
  .helpAnswer > li.answer p {
    padding: vw-pc(30) 0 vw-pc(30) vw-pc(40);
    font-size: vw-pc(16);
  }

  .helpAnswer > li.question p:before,
  .helpAnswer > li.answer p:before  {
    top: vw-pc(40);
    font-size: vw-pc(24);
    transform: translateY(-50%);
  }

  .helpAnswer-btn {
    width: vw-pc(355);
  }
}

@media screen and (min-width: $breakpoint2) {

  .helpAnswer {
    margin-bottom: 30px;
    padding: 10px 40px;
  }

  .helpAnswer > li:before {
    height: 3px;
    background-size: auto 3px;
  }

  .helpAnswer > li.question p,
  .helpAnswer > li.answer p {
    padding: 30px 0 30px 40px;
    font-size: 16px; font-size: 1.6rem;
  }
  .helpAnswer > li.question p:before,
  .helpAnswer > li.answer p:before {
    top: 40px;
    font-size: 24px; font-size: 2.4rem;
  }

  .helpAnswer-btn {
    width: 355px;
  }
}
